{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.2-rc3"}
        cli-matic/cli-matic {:mvn/version "0.4.3"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :aliases {:test {:test-paths  ["test" "src"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}}}
           :uberjar {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.5"}}
                     :main-opts ["-m" "cambada.uberjar"
                                 "-m" "main"
                                 "--app-group-id" "cli-matic-demo"]}
           :native-image {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.5"}}
                          :main-opts ["-m" "cambada.native-image"
                                      "-m" "main"
                                      "--graalvm-opt -report-unsupported-elements-at-runtime"]}}}